@import 'nib'

global-reset()

body
    margin 0px
    padding 0px
    user-select none

div, p
    user-select text

focuscol = silver

*:focus
   box-shadow 0px 0px 3px focuscol
   outline none

pad()
    padding 20px 12px

link()
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    user-select none

table.layout
    tr, td
        vertical-align top

#header
    background linear-gradient(bottom, hsl(280, 35%, 20%) 5%, hsl(283, 25%, 30%))
    text-shadow 0 1px 1px black
    color hsl(360 - 283, 16%, 80%)
    font normal 18pt Ubuntu
    pad()
    h3
        font normal 10pt Ubuntu
        line-height 1em
        margin 4px 10px 
        display inline-block

#content
    pad()
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)

#maqam_section
    pad()
    display inline-block
    width 500px
    margin-left 50px

#error_box
    border 2px solid red
    border-radius 6px
    background-color hsl(10, 70%, 90%)
    color hsl(20, 80%, 10%)
    font normal 12pt sans
    padding 8px
    margin 10px
    width 90%
    display none

code
    font-family monospace

footer
    margin 20px
    color hsl(160, 10%, 30%)
    font normal 8pt/0.9 monospace
    position absolute
    bottom 2px
    a
        color: hsl(240, 10%, 30%)
