@import 'nib'
@import 'global'

input#start
    width 40px
    text-align center
input#scale
    width 300px
    padding-left 10px
    word-spacing 1em

#maqam_name
    padding 8px
    font normal 22pt Ubuntu
    color hsl(0, 0%, 32%)

#maqam_section

    #presets
        margin 12px 20px

    input, select
        border-radius 2px
        // border 1px solid hsl(0, 0%, 98%)
        border 0px solid white
        // background-color hsl(0, 0%, 99%)

    .maqam_info
        padding 0px 10px 
        label, input, select
            font-size 8pt
            padding 1px
            margin 2px


.octave
    display inline-block
    padding 6px 2px
    margin 0 
    border-top 1px solid hsl(0, 0%, 48%)

.octave.alt
    background-color hsl(0, 0%, 99%)
    border-top-width 3px
    padding-top 4px

transition()
    vendor('transition', arguments)

presscolor = hsl(250, 60%, 78%)

#keys
    margin 10px 0
    .key
        link()
        background-color #fdfdfd
        background linear-gradient(left, #fafafa, #fff)
        color hsl(0, 0%, 20%)
        display inline-block
        padding 20px 1px
        margin 3px 
        font normal 9pt sans
        text-align center
        border 1px solid silver
        width 23px
        overflow hidden
        .tone
            font normal 5pt sans
            padding-top 5px
            color silver
        .notename
            font normal 7pt monospace
            padding-top 12px
            color #777
        &.pressed
            border-color silver * 0.9
            color hsl(300, 20%, 10%)
            box-shadow inset 0px -50px 40px -30px presscolor
            transition all 20ms ease-in-out
            .tone
                color silver * 0.9
        &.unpressed
            transition all 200ms ease-in-out
            box-shadow inset 0px -50px 40px -30px presscolor * 4
    .vhint
        border-bottom 3px solid silver
        margin-top 0px
        margin-bottom 1px

.option_set
    .option
        minimal-button()
        padding 7px
        margin 2px
        display inline-block
        width 120px
        link()
        font normal 10pt Georgia
        text-align left
        .shortcut
            font normal 0.6em monospace
            color silver * 0.7
            position relative
            right 2px
            float right
            text-align right

