
div.text_page
  :markdown
    This is a music keyboard, but not any old keyboard; it's designed with Middle Eastern scales in mind.

    By default, the keyboard starts on the Ajam scale, which is equivalent to the C Major scale.

    The buttons on the right change the scale (or maqam). If you're not familiar with the concept of maqam, head over to [maqam world][mw], they have pretty good explanations, and I've used them as a reference.

    What are these other scales and what's so special about them? Well, Middle Eastern scales uses quarter tones.

    To be exact, while Western scales one use full or half tones, Middle Eastern scales use three-quarters of a tone. This small difference makes for a very interesting variety.

    Consider for instance the "Happy Birth Day" melody. On the C Major scale (Maqam Ajam), you can play it like this (assuming a qwerty keyboard):

        Q Q W Q R E
        Q Q W Q T R
        Q Q Y T R E W
        Y Y T R T R

    Try that. And then, switch to the Rast scale, and try playing the same keys, and notice the difference.

    You can use this "app" to play around with different scales and see what they're like. That's the entire purpose really: a place to play around and improvise. If you're interested in Middle Eastern scales, but have no Oud or instrument which can play them, this site is a good way to just jump in and start making some noise.


    [mw]: http://maqamworld.com







