
div.text_page
  :markdown
    ##What is this?
    This is a music keyboard, but not any old keyboard; it's designed with Middle Eastern scales in mind.

    By default, the keyboard starts on the Ajam scale, which is equivalent to the C Major scale.

    The buttons on the right change the scale (or maqam). If you're not familiar with the concept of maqam, head over to [maqam world][mw], they have pretty good explanations, and I've used them as a reference.

    ##How are middle eastern scales different from western scales? 
    Middle Eastern scales uses quarter tones.

    To be exact, while Western scales use full or half tone intervals, Middle Eastern scales also use three-quarters of a tone as an interval.

    ##What can I do with this?
    Explore middle eastern scales, and play around.

    If you're interested in Middle Eastern scales, but have no Oud or instrument which can play them, this site is a good way to start making some noise.

    [mw]: http://maqamworld.com


