
div.text_page
  :markdown
    This is a music keyboard, but not any old keyboard; it's designed with Middle Eastern scales in mind.

    By default, the keyboard starts on the Ajam scale, which is equivalent to the C Major scale.







