body
    margin 0px
    padding 0px

pad()
    padding 20px 12px

#header
    background-color hsl(280, 16%, 50%)
    color hsl(360 - 280, 16%, 80%)
    font normal 22px Ubuntu
    pad()

#content
    pad()
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)

input#start
    width 40px
input#scale
    width 400px

label
    margin 3px 10px
    font normal 10pt Ubuntu
input
    margin 0px 5px
    font normal 10pt monospace

#keys
    margin 40px 0 0 0 
    .key
        background-color #fdfdfd
        color hsl(0, 0%, 20%)
        display inline-block
        padding 45px 0px
        margin 4px 
        font normal 9pt sans
        text-align center
        border 1px solid silver
        width 30px
        max-width 30px
        overflow hidden
        .tone
            font normal 6pt sans
            padding-top 5px
            color silver
