div.text_page
  h3 Feedback form
    form(name="feedback")
      div
        input(name="name")
        label optional
      div
        input(name="email")
        label optional
      div
        textarea
      div
        input(type="button", value="Send")
