div.text_page
  h3 Tell me something
    form(name="feedback")
      div
        label Name:
        input#name(name="name")
        span.opt (optional)
      div
        label email:
        input#email(name="email")
        span.opt (optional)
      div
        label Message:
        textarea#feedback(name="feedback")
      div
        input(type="button", value="Send", onclick="sendfeedback()")
      div#status

:coffeescript
  window.sendfeedback = ->
    form = $("form[name=feedback]")
    data = {name: $("#name").val(), email: $("#email").val(), feedback: $("#feedback").val()}
    $("#status").html("sending ..")
    $.post '/feedback', data, (ret_data) ->
      if ret_data.success
        $("#status").html("sent!!")
      else
        $("#status").html("failed!! try again?")

:stylus
  form
    margin-top 10px
    input[type=text], textarea
      width 300px
    textarea
      height 100px
    label
      display inline-block
      vertical-align top
      width 80px
      text-align right
      padding-right 5px
    span.opt
      color gray
      font-size 0.8em
      margin-left 6px
    #status
      color gray
