div Web Oud

label Starting tone
  input#start(type="input", value="-20", onkeyup="updkeys()")
label Tonal distances
  input#scale(type="input", value="1 1 0.5 1 1 1 0.5", onkeyup="updkeys()")
label Starting key offset
  input#offset(type="input", value="-3", onkeyup="updkeys()")

#keys

script(type="text/coffeescript", src="/keyboard.coffee")
