extends layout

block content
    div.oud_bg
    div.layout(data-bind="with: piano")
        div.logo
        div.app
            div.controls
                include controls.html
            div.keyboard
                include keyboard.html
        div.guide
            include guide.html
