extends layout

block content

    div.layout(data-bind="with: piano")
        div.app
            div.controls
                include controls.html
            div.keyboard
                include keyboard.html
        div.guide
            include guide.html
