
table.layout
  tr
    td#keyboard
      div#maqam_name
      div#keys
      div#error_box
      //div#record_btns
        input#rec_btn(type="button", value="Record")
        input#play_btn(type="button", value="Play", disabled)

    td#maqam
      div#maqam_section


!= js('/utils')
!= js('/events')
!= js('/synth')
//!= js('/record')
!= js('/maqam')
!= js('/keyboard')

