extends layout

block content

    div(data-bind="if: instrument() == 'piano'")
        table.layout(data-bind="with: piano")
          tr.app
            td.controls
              include controls.html
            td.keyboard
              include keyboard.html
          tr.guide
            td(colspan=2)
              include guide.html
