
table.layout
  tr
    td
      div#maqam_name
      div#keys
      div#error_box
      //div#record_btns
        input#rec_btn(type="button", value="Record")
        input#play_btn(type="button", value="Play", disabled)

    td
      div#maqam_section
        div#maqam_ctrls


!= js('/events')
!= js('/synth')
//!= js('/record')
!= js('/maqam')
!= js('/keyboard')

