extends layout

block content

    table.layout
      tr.header
        td.logo
        td.maqam_name
          div#maqam_name
      tr.middle
        td.maqam_list
          div#maqam_section
        td.keyboard
          div#keys
            include keyboard.html
      tr.footer
        td.author
          include author.html
        td.tips 
          // include help_tips.html

    != js('/utils')
    != js('/events')
    != js('/synth')
    //!= js('/record')
    != js('/maqam')
    != js('/keyboard')

