
label Starting tone
  input#start(type="input", value="1", onkeyup="updkeys()")
label Tonal distances
  input#scale(type="input", value="0.5 1.5 0.5 1 0.5 1 1", onkeyup="updkeys()")
/label Starting key offset
  input#offset(type="input", value="4", onkeyup="updkeys()")
label Maqam Presets
  select#presets

#keys

#error_box

/label Keyboard layout
  input#keyslayout(type="input", value="QWERTYUIOPLKJHGFDSAZXCVBNM", onkeyup="updkeys()")

script(type="text/coffeescript", src="/synth.coffee")
script(type="text/coffeescript", src="/maqam.coffee")
script(type="text/coffeescript", src="/keyboard.coffee")
