
table.layout
  tr
    td
      div#maqam_name
      div#keys
      div#error_box
      <iframe src="//www.facebook.com/plugins/like.php?href&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
      //div#record_btns
        input#rec_btn(type="button", value="Record")
        input#play_btn(type="button", value="Play", disabled)

    td
      div#maqam_section
        div#maqam_ctrls
        div#presets.option_set


!= js('/events')
!= js('/synth')
//!= js('/record')
!= js('/maqam')
!= js('/keyboard')

footer
  br
  br
  :markdown
    This is an html5 experiment  
    [code on github](http://github.org/hasenj/oud)  
