table.layout
  tr
    td
      div#maqam_name
      div#keys
      div#error_box
      div#record_btns
        input#rec_btn(type="button", value="Record")
        input#play_btn(type="button", value="Play", disabled)

    td
      div#maqam_section

        div.maqam_info
          //
            input.blur(type="text", value="", onfocus="this.blur()")
            br
            input#scale(type="text", value="", onkeyup="apply_user_maqam()")
            br
            label Starting tone
            input#start(type="text", value="1", onkeyup="apply_user_maqam()")
          #test_mv

        div#presets.option_set


!= js('/events')
!= js('/synth')
!= js('/record')
!= js('/maqam')
!= js('/keyboard')

footer
  br
  br
  :markdown
    This is an html5 experiment  
    [code on github](http://github.org/hasenj/oud)  


