extends layout

block content

    table.layout
      tr.header
        td.logo
        td.maqam_name
          div#maqam_name(data-bind="html: active_maqam.disp_name")
      tr.app
        td.maqam_list
          include maqam_list.html
        td.keyboard
          include keyboard.html
      tr.guide
      tr.footer
        td.author
          // include author.html
        td.tips 
          // include help_tips.html

    != js('/utils')
    != js('/events')
    != js('/synth')
    //!= js('/record')
    != js('/maqam')
    != js('/keyboard')

