
div#error_box // notifications

table.layout
  tr.header
    td.logo
            h1 أَوْتَاْر
            h3 للعزف بالمقامات العربية
    td.maqam_name
      div#maqam_name(data-bind="text: maqamName")
  tr.middle
    td.maqam_list
      div#maqam_section
    td.keyboard
      div#keys


!= js('/utils')
!= js('/events')
!= js('/synth')
//!= js('/record')
!= js('/maqam')
!= js('/keyboard')

