extends layout

block content

    div(data-bind="if: instrument() == 'piano'")
        table.layout(data-bind="with: piano")
          tr.header
            td.logo
            td.maqam_name
              div#maqam_name(data-bind-x="html: active_mode.disp_name")
          tr.app
            td.maqam_list
              include maqam_list.html
            td.keyboard
              include keyboard.html
          tr.guide
            td(colspan=2)
              include guide.html
