table.layout
  tr
    td
      div#maqam_name
      div#keys
      div#error_box

    td
      div#maqam_section

        div.maqam_info
            input#scale(type="input", value="0.5 1.5 0.5 1 0.5 1 1", onkeyup="updkeys()")
            br
            label Starting tone
            input#start(type="input", value="1", onkeyup="updkeys()")

        div#presets.option_set


script(type="text/coffeescript", src="/synth.coffee")
script(type="text/coffeescript", src="/maqam.coffee")
script(type="text/coffeescript", src="/keyboard.coffee")
