table 
  tr
    td
      div#keys
      div#error_box
    td

      div#maqam_section
        .maqam_name
          | Maqam 
          span#current_maqam

        .maqam_info
            input#scale(type="input", value="0.5 1.5 0.5 1 0.5 1 1", onkeyup="updkeys()")
            br
            label Starting tone
            input#start(type="input", value="1", onkeyup="updkeys()")

        select#presets


script(type="text/coffeescript", src="/synth.coffee")
script(type="text/coffeescript", src="/maqam.coffee")
script(type="text/coffeescript", src="/keyboard.coffee")
