
table.layout
  tr
    td
      div#maqam_name
      div#keys
      div#error_box
      div.like_buttons
        <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Foud.hasenj.org&amp;send=false&amp;layout=button_count&amp;width=80&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=24" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:80px; height:24px;" allowTransparency="true"></iframe>
        <div class="g-plusone" data-size="medium" data-href="http://oud.hasenj.org"></div>
      //div#record_btns
        input#rec_btn(type="button", value="Record")
        input#play_btn(type="button", value="Play", disabled)

    td
      div#maqam_section
        div#maqam_ctrls
        div#presets.option_set


!= js('/events')
!= js('/synth')
//!= js('/record')
!= js('/maqam')
!= js('/keyboard')

footer
  br
  br
  :markdown
    This is an html5 experiment  
    [code on github](http://github.org/hasenj/oud)  
