table.layout
  tr
    td
      div#maqam_name
      div#keys
      div#error_box

    td
      div#maqam_section

        div.maqam_info
            input.blur(type="text", value="", onfocus="this.blur()")
            br
            input#scale(type="text", value="", onkeyup="updkeys()")
            br
            label Starting tone
            input#start(type="text", value="1", onkeyup="updkeys()")

        div#presets.option_set


script(type="text/javascript", src="/synth.js")
script(type="text/javascript", src="/maqam.js")
script(type="text/javascript", src="/keyboard.js")
