!!! 5
html
  head
    title Web Oud
    link(href="/css", rel="stylesheet", type="text/css")
    script(src="http://code.jquery.com/jquery-1.6.min.js", type="text/javascript")
    script(src="/underscore-min.js", type="text/javascript")
    script(src="/jquery.hotkeys.js", type="text/javascript")
    script(src="/jquery.cookie.js", type="text/javascript")
    script(src="/coffee-script.js", type="text/javascript")
    script(src="/audiodata.js", type="text/javascript")
  body
    #header Music Keyboard
        h3 requires firefox4
    #content !{body}
    footer
      :markdown
        By [hasenj](http://github.org/hasenj) | [code on github](http://github.org/hasenj/oud)  
        This is an experimental project, consider it in alpha phase


