!!! 5
html
  head
    title أوتار
    link(rel="icon", type="image/png", href="/icon.png")
    != css('index')
    script(src="/jquery.js", type="text/javascript")
    script(src="/underscore-min.js", type="text/javascript")
    script(src="/jquery.hotkeys.js", type="text/javascript")
    script(src="/jquery.cookie.js", type="text/javascript")
    script(src="/sink.js", type="text/javascript")
    script(src="/ko.js", type="text/javascript")
    link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/earlyaccess/amiri.css")
  body
    .content_wrapper
      #header 
        .tr
          .logo.td
            h1 أَوْتَاْر
            h3 للعزف بالمقامات العربية
          #maqam_name.td(data-bind="text: maqamName")
      #content !{body}
