!!! 5
html
  head
    title أوتار
    link(rel="icon", type="image/png", href="/icon.png")
    != css('index')
    script(src="/jquery.js", type="text/javascript")
    script(src="/underscore-min.js", type="text/javascript")
    script(src="/jquery.hotkeys.js", type="text/javascript")
    script(src="/jquery.cookie.js", type="text/javascript")
    script(src="/sink.js", type="text/javascript")
  body
    #header Oriental Strings
        // h3 html5 music keyboard
        ul.tabs
          // each val, key .. why is it backwards??
          - each url, name in {'Home': '/', 'About': '/about', 'Feedback': '/feedback'}
            li: a(href=url) #{name}
    #content !{body}
