!!! 5
html
  head
    title أوتار
    link(rel="icon", type="image/png", href="/icon.png")
    link(href="/css/index.css", rel="stylesheet", type="text/css")
    script(src="http://code.jquery.com/jquery-1.6.min.js", type="text/javascript")
    script(src="/underscore-min.js", type="text/javascript")
    script(src="/jquery.hotkeys.js", type="text/javascript")
    script(src="/jquery.cookie.js", type="text/javascript")
    script(src="/coffee-script.js", type="text/javascript")
    script(src="/audiolib.min.js", type="text/javascript")
  body
    #header Oriental Strings
        // h3 html5 music keyboard
        ul.tabs
          // each val, key .. why is it backwards??
          - each url, name in {'Home': '/', 'About': '/about', 'Feedback': '/feedback'}
            li: a(href=url) #{name}
    #content !{body}
    footer
      :markdown
        By [hasenj](http://github.org/hasenj) | [code on github](http://github.org/hasenj/oud)  
        This is an html5 experiment


