:stylus
  .like_buttons
    display inline-block
    margin-left 30px
    vertical-align middle
    padding-left 20px

div.like_buttons
  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Foud.hasenj.org&amp;send=false&amp;layout=button_count&amp;width=84&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font=trebuchet+ms&amp;height=20" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:84px; height:20px;" allowTransparency="true"></iframe>
  <div class="g-plusone" data-size="medium" data-href="http://oud.hasenj.org"></div>
