@import 'nib'

global-reset()

body
    margin 0px
    padding 0px

*:focus
   box-shadow 0px 0px 3px silver
   outline none

pad()
    padding 20px 12px

link()
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    user-select none

table.layout
    tr, td
        vertical-align top

#header
    background-color hsl(283, 22%, 29%)
    color hsl(360 - 283, 16%, 80%)
    font normal 18pt Ubuntu
    pad()
    h3
        font normal 10pt Ubuntu
        line-height 1em
        margin 4px 10px 
        display inline-block

#content
    pad()
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)

#maqam_section
    pad()
    display inline-block
    width 500px
    margin-left 20px
    border-left 1px solid gray

input#start
    width 40px
    text-align center
input#scale
    width 300px
    padding-left 10px
    word-spacing 1em

#maqam_name
    padding 8px
    font normal 22pt Ubuntu
    color hsl(0, 0%, 32%)

#maqam_section

    #presets
        margin 12px 20px

    input, select
        border-radius 2px
        // border 1px solid hsl(0, 0%, 98%)
        border 0px solid white
        // background-color hsl(0, 0%, 99%)

    .maqam_info
        padding 0px 10px 
        label, input, select
            font-size 8pt
            padding 1px
            margin 2px


.octave
    display inline-block
    padding 6px 2px
    margin 0 

.octave_bg
    background-color hsl(0, 0%, 98%)
    border 1px solid hsl(0, 0%, 86%)
    border-top 1px solid hsl(0, 0%, 48%)

#keys
    margin 10px 0
    .key
        link()
        background-color #fdfdfd
        color hsl(0, 0%, 20%)
        display inline-block
        padding 20px 1px
        margin 3px 
        font normal 9pt sans
        text-align center
        border 1px solid silver
        width 23px
        overflow hidden
        .tone
            font normal 5pt sans
            padding-top 5px
            color silver
        .notename
            font normal 7pt monospace
            padding-top 12px
            color #777
    .key_down
        background-color hsl(210, 90%, 95%)
        border-color silver * 0.9
        color hsl(300, 20%, 10%)
        box-shadow 0px 0px 2px hsl(0, 0%, 97%)
        .tone
            color silver * 0.9
    .vhint
        border-bottom 3px solid silver
        margin-top 0px
        margin-bottom 1px

.option_set
    .option
        minimal-button()
        // border 1px solid silver
        padding 7px
        margin 2px
        // border-radius 1px
        display inline-block
        width 120px
        link()
        font normal 10pt Georgia
        // background-color hsl(0, 0%, 99%)
        // color hsl(120, 10%, 90%)
        text-align left
        .shortcut
            font normal 0.6em monospace
            color silver * 0.7
            position relative
            right 2px
            float right
            text-align right
    .selected_option
        background-color hsl(140, 30%, 90%)

#error_box
    border 2px solid red
    background-color hsl(10, 70%, 80%)
    color hsl(0, 100%, 20%)
    font normal 12pt monospace
    width: 50%
    padding: 8px
    margin: 10px
    display: none

footer
    margin 20px
    color hsl(160, 10%, 30%)
    font normal 8pt/0.9 monospace
    position absolute
    bottom 2px
    a
        color: hsl(240, 10%, 30%)
