body
    margin 0px
    padding 0px

pad()
    padding 20px 12px

#header
    background-color hsl(283, 22%, 29%)
    color hsl(360 - 283, 16%, 80%)
    font normal 18pt Ubuntu
    pad()
    h3
        font normal 10pt Ubuntu
        line-height 1em
        margin 4px 10px 
        display inline-block

#content
    pad()
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)

input#start, input#offset
    width 20px
input#scale
    width 300px

label
    margin 3px 10px
    font normal 9pt Ubuntu
input, select
    margin 0px 5px
    padding 2px
    font normal 8pt monospace
    border 1px solid silver
    border-radius 2px
    color hsl(0, 0%, 14%)
    background-color hsl(0, 0%, 98%)

.octave
    display inline-block
    padding 6px
    margin 0 2px

.octave_bg
    background-color hsl(0, 0%, 98%)
    border-top 1px solid hsl(0, 0%, 48%)
    border-right 1px dotted hsl(0, 0%, 86%)
    border-left 1px dotted hsl(0, 0%, 86%)

#keys
    margin 40px 0 0 0 
    .key
        background-color #fdfdfd
        color hsl(0, 0%, 20%)
        display inline-block
        padding 20px 0px
        margin 4px 
        font normal 9pt sans
        text-align center
        border 1px solid silver
        width 24px
        max-width 30px
        overflow hidden
        .tone
            font normal 5pt sans
            padding-top 5px
            color silver
        .notename
            font normal 7pt monospace
            padding-top 12px
            color #777
    .key_down
        background-color hsl(210, 95%, 95%)

#error_box
    border 2px solid red
    background-color hsl(10, 70%, 80%)
    color hsl(0, 100%, 20%)
    font normal 12pt monospace
    width: 50%
    padding: 8px
    margin: 10px
    display: none

footer
    margin 20px
    color hsl(160, 10%, 30%)
    font normal 8pt/0.9 monospace
    position absolute
    bottom 2px
    a
        color: hsl(240, 10%, 30%)
