@import 'nib'

global-reset()

footer_height = 40px

bgcol = hsl(200, 5, 94)
footer_bgcol = hsl(200, 6, 90)
body
    margin 0px
    padding 0px
    background-color bgcol

html, body
    height 100%

.content_wrapper
  min-height 100%
  position relative

footer
  position absolute
  bottom 0
  height footer_height
  display block
  width 100%
  box-shadow 0px 0px 2px 2px silver
  border-top 1px solid silver
  background-color footer_bgcol

div, p
    user-select text

table.layout // the keyboard layout .. not the page layout
    user-select none

focuscol = silver

*:focus
   box-shadow 0px 0px 3px focuscol
   outline none

pad()
    padding 20px 12px

standout()
    margin 10px 50px

link()
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    user-select none

table.layout
    padding 14px 20px
    // box-shadow 0px 0px 2px 2px silver
    tr, td
        vertical-align top

#header
    background linear-gradient(bottom, hsl(280, 35%, 20%) 5%, hsl(283, 25%, 30%))
    text-shadow 0 1px 1px black
    color hsl(360 - 283, 16%, 80%)
    padding-top 6px
    padding-bottom 2px
    box-shadow 0px 0px 5px 3px gray
    border-bottom 1px solid black
    a
      text-decoration none
      color inherit
      &.arabic
          direction rtl
          float right
          h1
              font-family Arial
    .logo
      display inline-block
      width 240px
      // border 1px solid silver
      text-align center
      padding 4px
      h1
        font normal 1.8em Ubuntu
        display block
      h3
        font normal 10pt Ubuntu
        line-height 1em
        margin 4px 10px 
        display inline-block
    ul.tabs
      margin-left 40px
      display inline-block
      vertical-align middle
      li
        margin 5px 12px
        padding 3px 6px
        display inline-block
        vertical-align middle
        // background-color hsl(300, 11, 40)
        background linear-gradient(top, hsl(300, 15, 37) 5%, hsl(310, 8, 43))
        border-radius 4px
        list-style none
        a
          display block // get rid of weird spacing inside the li element
          font-size 9pt
          color hsl(100, 30, 90)
          text-decoration none
#content
    pad()
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)
    padding-bottom footer_height

#error_box
  div, span
    font normal 12pt sans
    padding 8px
    margin 10px
    width 90%
    border-radius 6px
  .error
    border 2px solid red
    background-color hsl(10, 70, 90)
    color hsl(20, 80, 10)
  .warning
    border 2px solid orange
    background-color hsl(70, 70, 90)
    color hsl(80, 80, 10)

code
    font-family monospace

.footer_content
  padding-top 10px
  margin-left 30px
  color hsl(160, 10%, 30%)
  font-size 14px
  div
    display inline-block
    vertical-align middle
  div.link
    padding 5px
    margin-right 8px
    a
      color: hsl(240, 10%, 30%)
      text-shadow 0 1px 1px white
      text-decoration none
      font-family Ubuntu
    

div.text_page
  *
    user-select text
  width 500px
  margin 10px 40px
  h1
    font-size 1.8em
    font-weight bold
  h2
    font-size 1.3em
  h3 
    font-size 1.2em
  h1, h2, h3, p
    margin 13px 2px
  pre, code
    font normal 10pt monospace
  pre
    margin-left 20px
