@import 'nib'

global-reset()

bgcol = hsl(200, 5, 94)
footer_bgcol = hsl(200, 6, 90)
body
    margin 0px
    padding 0px
    background-color bgcol

html, body
    height 100%
    direction rtl

div, p
    user-select text

div#keys
    user-select none

focuscol = silver

*:focus
   box-shadow 0px 0px 3px focuscol
   outline none

pad()
    padding 20px 12px

standout()
    margin 10px 50px

link()
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    user-select none

table.layout
    padding 0
    margin 0 auto
    width 1000px
    background-image url('/logo.png')
    background-repeat no-repeat
    background-position top right

    tr, td
        padding 0
        margin 0
        vertical-align top

tr.header
    font-family Amiri
    text-align center
    color hsl(270, 30, 30)
    text-shadow 0px 1px 2px silver
    margin-bottom 10px
    width 100%
    td.logo
        width 300px

    td.maqam_name
        width 700px
        font normal 2.7em amiri
        text-shadow 0 1px 1px black
        color hsl(243, 16, 30)
        direction rtl
        text-align center

tr.middle
    text-align right
    td.maqam_list
        width 300px
        vertical-align middle
    td.keyboard
        direction ltr
        width 700px

tr.footer
    td
        direction rtl
        text-align right
        padding-top 30px
    td.author
        width 200px
    td.tips
        width 400px

body
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)

#error_box
  div, span
    font normal 12pt sans
    padding 8px
    margin 10px
    width 90%
    border-radius 6px
  .error
    border 2px solid red
    background-color hsl(10, 70, 90)
    color hsl(20, 80, 10)
  .warning
    border 2px solid orange
    background-color hsl(70, 70, 90)
    color hsl(80, 80, 10)

code
    font-family monospace

.footer_content
  padding-top 10px
  margin-left 30px
  color hsl(160, 10%, 30%)
  font-size 14px
  div
    display inline-block
    vertical-align middle
  div.link
    padding 5px
    margin-right 8px
    a
      color: hsl(240, 10%, 30%)
      text-shadow 0 1px 1px white
      text-decoration none
      font-family Ubuntu
    

div.text_page
  *
    user-select text
  width 500px
  margin 10px 40px
  h1
    font-size 1.8em
    font-weight bold
  h2
    font-size 1.3em
  h3 
    font-size 1.2em
  h1, h2, h3, p
    margin 13px 2px
  pre, code
    font normal 10pt monospace
  pre
    margin-left 20px
