@import 'nib'

transition()
    vendor('transition', arguments)

unpressed_color = hsl(20, 80, 95)
semipress_color = hsl(40, 60, 87)
press_color = hsl(40, 77, 80)

btn_highlight(color)
    // box-shadow inset 0px -50px 40px -30px color 
    background-color color

#keys
    *
        user-select none
    .row
      // margin 1px 4px
      .key
        link()
        background-image url('/key.png')
        background-repeat no-repeat
        background-position-x center
        display inline-block
        width 52px
        height 132px
        font normal 9pt sans
        text-align center
        text-shadow 0px 0px 2px silver * 1.2
        .kb_key
          margin-top 20px
          display inline-block
          width 30px
          height 28px
          line-height 28px
          text-align center
          font-family Helvetica
          font-size 16px
          font-weight normal
          color hsl(120, 20, 30)
          border 1px solid silver
        .tone
            font normal 5pt sans
            padding-top 4px
            color gray
            text-shadow 0px 0px 2px 1px hsl(50, 80, 90)
        .note_name
            font normal 18px monospace
            margin-top 10px
            color hsl(270, 20, 60)
            height 60px
            line-height 50px
        &.outside_octave
            background-color hsl(170, 20, 85)
        &.pressed
            color hsl(300, 20, 10)
            background-image url('/key-pressed.png')
            .kb_key
              border-color gray
              color hsl(50, 70, 20)
            .note_name
              color hsl(270, 20, 40)
        &.semi_pressed
            background-image url('/key-semi-pressed.png')
            .kb_key
              color hsl(50, 70, 20)

