@import 'nib'

transition()
    vendor('transition', arguments)

unpressed_color = hsl(20, 80, 99)
semipress_color = hsl(40, 60, 87)
press_color = hsl(40, 77, 80)

btn_highlight(color)
    // box-shadow inset 0px -50px 40px -30px color 
    background-color color

#keys
    margin 10px 8px
    min-width 460px
    *
        user-select none
    .row
      margin 15px 4px
      .key
        link()
        display inline-block
        padding 4px 2px
        margin 4px 
        font normal 9pt sans
        text-align center
        width 25px
        overflow hidden
        text-shadow 0px 0px 2px silver * 1.2
        .kb_key
          background-color #fdfdfd
          border 2px solid hsl(40, 70, 50)
          border-radius 25px
          padding 5px 5px
          font-family ubuntu
          font-size 7pt
          color hsl(50, 70, 30)
        .tone
            font normal 5pt sans
            padding-top 4px
            color silver
            text-shadow 0px 0px 2px 1px hsl(50, 80, 90)
        .note_name
            font normal 7pt monospace
            padding-top 2px
            color #777
            text-shadow 0px 1px 1px white
        &.pressed
            color hsl(300, 20%, 10%)
            .kb_key
              btn_highlight(press_color)
              border-color hsl(40, 70, 48) 
              color hsl(50, 70, 20)
            .tone
                color silver * 0.9
            .note_name
              text-shadow 0px 0px 3px silver
        &.semi_pressed
            .kb_key
              btn_highlight(semipress_color)
              border-color hsl(40, 70, 52) 
              color hsl(50, 70, 20)
        &.unpressed 
            .kb_key
              btn_highlight(unpressed_color)

