@import 'nib'

transition()
    vendor('transition', arguments)

unpressed_color = hsl(20, 80, 95)
semipress_color = hsl(40, 60, 87)
press_color = hsl(40, 77, 80)

btn_highlight(color)
    // box-shadow inset 0px -50px 40px -30px color 
    background-color color

.ib
    display inline-block

#keys
    *
        user-select none
    .outside_octave
        background-image url('/wood.png')
    .row
      // margin 1px 4px
      .key
        link()
        background-image url('/key.png')
        background-repeat no-repeat
        background-position-x center
        display inline-block
        width 49px
        height 130px
        font normal 9pt sans
        text-align center
        text-shadow 0px 0px 2px silver * 1.2
        .kb_key
          margin-top 20px
          display inline-block
          width 30px
          height 28px
          line-height 28px
          text-align center
          font-family Arial
          font-size 12px
          font-weight normal
          color hsl(120, 10, 30)
          border 1px solid silver
          border-radius 3px
        .tone
            font normal 5pt sans
            padding-top 4px
            color gray
            text-shadow 0px 0px 2px 1px hsl(50, 80, 90)
        .interval_to_next
            font-size 10pt
            display inline-block
            // background-color hsla(0, 0, 98, 50)
            padding 3px 5px
            border-radius 2px
            border-bottom 1px solid silver
            position relative // for some reason, we need this
            margin-right -50px
            z-index 4
        .note_name
            font normal 18px monospace
            color hsl(270, 20, 60)
        &.pressed
            color hsl(300, 20, 10)
            background-image url('/key-pressed.png')
            .kb_key
              border-color gray
              color hsl(50, 70, 20)
            .note_name
              color hsl(270, 20, 40)
        &.semi_pressed
            background-image url('/key-semi-pressed.png')
            .kb_key
              color hsl(50, 70, 20)

// oud styles
#oud_kb
    direction ltr
    .diwan
        border 1px solid silver
        margin 20px 0px
    .watar
        display block
        // background image watar
    .group
        display inline-block
        // border 1px solid silver
        margin 0px 18px
        .note_name
            text-align center
    .key
        display inline-block
        border-radius 2px
        border 1px solid silver
        width 36px
        height 40px
        text-align center
        &.pressed
            background-color silver
        
