@import 'nib'

input#start
    width 40px
    text-align center
input#scale
    width 300px
    word-spacing 1em

#maqam_name
    padding 8px
    font normal 22pt Ubuntu
    color hsl(0, 0%, 32%)
    text-shadow 1px 1px 2px silver


#maqam_section
  pad()
  standout()
  display inline-block
  width 380px
  #maqam_ctrls
    margin-left 5px
  #presets
    margin-top 4px

.maqam_list
    margin-top 20px

.widget_stepper
  font-size 0.8em
  width 40px
  display inline-block
  text-align center
  &.horizontal
    width auto
    margin auto 8px
  .button
    cursor pointer
    user-select none
    color gray
    display inline-block
  .val
    cursor default
    display inline-block
    width 30px
    vertical-align top
    margin auto 4px

.start_widget
  margin-left 20px
  span.text
    font-size 10pt
    
maqam-button(bghue=230)
  -reset()
  outer_border(lite=0)
    outer_shadow_color = hsl(((bghue+20) % 360), 3, 40+lite)
    // box-shadow 0px 0px 1px 1px outer_shadow_color
    border 1px solid (outer_shadow_color * 1.6)
  cursor pointer
  box-shadow 0px 0px 1px 1px hsl(bghue, 1, 90) inset
  outer_border()
  display inline-block
  border-radius 5px
  padding 5px 10px
  font-size 0.9em
  text-shadow 0px 0px 1px hsl(150, 30, 86)
  color hsl(300,20,20)
  grad(lite=89, to=1.1)
    g1 = hsl(bghue,30,lite)
    g2 = hsl(bghue,20,lite*0.96)
    g3 = hsl(bghue,20,lite*to)
    background linear-gradient(top, g1 60%, g2 50%, g3)
  grad()
  &:hover
  &.hover
    outer_border(-14)
    grad(92, 1.5)
  &:active
  &.active
    grad(85)
    outer_border(-8)


.maqam_btn
  maqam-button()
  width 54px
  margin 8px

