@import 'nib'

input#start
    width 40px
    text-align center
input#scale
    width 300px
    word-spacing 1em

#maqam_name
    padding 8px
    font normal 22pt Ubuntu
    color hsl(0, 0%, 32%)
    text-shadow 1px 1px 2px silver

#maqam_section
    .maqam_info
        padding 0px 10px 
        label, input
            font-size 8pt
            margin 4px

    #presets
        margin 12px 20px

    input
        border-radius 100px
        padding 3px 10px
        border 0px solid white
        box-shadow 0px 1px 2px gray inset
        &:focus
           box-shadow 0 0 2px 2px rgba(40, 120, 212, 0.2) inset, 0 0 2px 1px #2878D4, 0 1px 2px rgba(0, 0, 0, 0.3) inset
        &.blur
            border 0px
            box-shadow none
            height 2px


bbg = hsl(220, 7%, 92%)
b_text = hsl(170, 20%, 20%)
b_cue = hsl(200, 17%, 42%)
option-button()
    minimal-button(bbg, b_text)

.option_set
    width 320px
    .option
        option-button()
        padding 7px
        margin 2px
        display inline-block
        width 120px
        link()
        font normal 10pt Georgia
        text-align left
        text-shadow 1px 1px 2px gray
        .shortcut
            font normal 0.7em monospace
            color b_cue
            text-shadow 1px 1px 1px (silver * .6667)
            position relative
            right 2px
            float right
            text-align right

