@import 'nib'
@import 'nib/gradients'

input#start
    width 40px
    text-align center
input#scale
    width 300px
    word-spacing 1em


#maqam_section
  text-align right
  direction rtl

maqam-button(bghue=230)
  -reset()
  cursor pointer
  // box-shadow 0px 0px 11px 2px hsl(bghue, 1, 96) inset
  border solid 1px hsl(bghue, 20, 85)
  // background-color white
  display inline-block
  width 90px
  text-align center
  direction rtl
  font-family amiri
  font-size 1.1em
  text-shadow 1px 1px 2px hsl(150, 40, 60)
  background: linear-gradient(top, 20% white, 280% hsl(0,0,92))
  border-radius 5px
  &:hover
  &.hover
    background: linear-gradient(top, white, 180% hsl(0,0,92))
  &:active
  &.active
    // background-color hsl(190, 20, 80)
    background: linear-gradient(top, hsl(0,0,88), hsl(0,0,98))
    text-shadow 1px 1px 2px hsl(150, 40, 90)
    font-size 1.09em
    

.widget_stepper
  font-size 0.8em
  width 40px
  display inline-block
  text-align center
  &.horizontal
    width auto
    margin auto 8px
  .button
    cursor pointer
    user-select none
    color gray
    display inline-block
  .val
    cursor default
    display inline-block
    width 30px
    vertical-align top
    margin auto 4px

.start_widget
  margin-left 20px
  span.text
    font-size 10pt

aqua-button(bghue=230)
  -reset()
  outer_border(lite=0)
    outer_shadow_color = hsl(((bghue+20) % 360), 3, 40+lite)
    // box-shadow 0px 0px 1px 1px outer_shadow_color
    border 1px solid (outer_shadow_color * 1.6)
  cursor pointer
  box-shadow 0px 0px 1px 1px hsl(bghue, 1, 90) inset
  outer_border()
  display inline-block
  border-radius 5px
  padding 5px 10px
  font-size 0.9em
  text-shadow 0px 0px 1px hsl(150, 30, 86)
  color hsl(300,20,20)
  grad(lite=89, to=1.1)
    g1 = hsl(bghue,30,lite)
    g2 = hsl(bghue,20,lite*0.96)
    g3 = hsl(bghue,20,lite*to)
    background linear-gradient(top, g1 60%, g2 50%, g3)
  grad()
  &:hover
  &.hover
    outer_border(-14)
    grad(92, 1.5)
  &:active
  &.active
    grad(85)
    outer_border(-8)


.maqam_btn
  maqam-button()
  margin: 5px

.maqam_info
    display block
    width 260px
    padding 10px
    margin 10px
    background-color hsl(0, 0, 99)
    border 1px solid hsl(0, 0, 90)
    border-radius 8px
    .section
        margin-top 20px
        &.first
            margin-top 2px

        .label
            width 120px
            display inline-block
        .def
            width 120px
            display inline-block

.rtl
    text-align right
    direction rtl

.ltr
    text-align left
    direction ltr

