@import 'nib'

.tip
    position: fixed
    top: 200px
    right 24%
    width: 270px
    // margin-left: -200px
    z-index 10
    background-color hsl(220, 10, 90)
    color hsl(220, 10, 10)
    border-radius 12px
    border 1ps solid silver
    box-shadow 0px 0px 7px 2px hsl(220, 10, 30)
    padding 20px 45px
    min-height 160px

    p
        padding 10px
        text-align right

    button
        z-index 12
        opacity 0.8
        border-radius 20px
        background-color hsl(220, 20, 90)
        color hsl(220, 20, 10)
        box-shadow 0px 0px 3px 2px gray
        line-height 11px
        border 0px
        height 40px
        text-align center
        vertical-align middle
        padding 2px 8px
        &:hover
            background-color hsl(220, 20, 80)
            color hsl(220, 20, 6)

    button.next, button.end
        absolute top 100px left 0px
        width 42px
        border-radius 0px 20px 20px 0px

    button.prev
        absolute top 100px right 0px
        width 42px
        border-radius 20px 0px 0px 20px

    button.close
        absolute top 0px left -2px
        border-radius 12px 0px 12px 0px



