html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{margin:0;padding:0;background-color:#eff0f0;background-image:url("/static/images/cream_dust.png")}
.oud_bg{background-color:#523314;background-image:url("/static/images/oud-bg.png");background-position:0 -200px;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";position:absolute;top:0;height:584px;width:100%;z-index:-10;-webkit-box-shadow:0 0 3px 1px #000;box-shadow:0 0 3px 1px #000}
html,body{height:100%;direction:rtl}
div,p{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
div#keys{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*:focus{-webkit-box-shadow:0 0 3px #c0c0c0;box-shadow:0 0 3px #c0c0c0;outline:none}
div.layout{padding:0;margin:0 auto;width:998px;}
div.layout > div{padding:0;margin:0}
div.app{text-align:right;}
div.app > div{display:inline-block;vertical-align:top;margin-top:10px}
div.app > div.controls{width:310px;vertical-align:top;direction:rtl;text-align:right}
div.app div.keyboard{width:680px;height:500px;direction:ltr;border:1px solid #c0c0c0;-webkit-border-radius:5px;border-radius:5px;background-color:rgba(252,252,253,0.6)}
body{font:normal 12pt Ubuntu;color:#333}
#error_box div,#error_box span{font:normal 12pt sans;padding:8px;margin:10px;width:90%;-webkit-border-radius:6px;border-radius:6px}
#error_box .error{border:2px solid #f00;background-color:#f7dad4;color:#2e1305}
#error_box .warning{border:2px solid #ffa500;background-color:#f1f7d4;color:#202e05}
code{font-family:monospace}
div.text_page{width:500px;margin:10px 40px;}
div.text_page *{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
div.text_page h1{font-size:1.8em;font-weight:bold}
div.text_page h2{font-size:1.3em}
div.text_page h3{font-size:1.2em}
div.text_page h1,div.text_page h2,div.text_page h3,div.text_page p{margin:13px 2px}
div.text_page pre,div.text_page code{font:normal 10pt monospace}
div.text_page pre{margin-left:20px}
.guide{margin-top:0;direction:rtl;text-align:right;font-family:amiri;display:inline-block;}
.guide h1{font-size:24pt;text-align:center;margin-top:20px;margin-bottom:10px;padding-bottom:-10px;border-bottom:1px solid #ced2d4}
.guide p,.guide li{margin-bottom:16px;font-size:14pt}
.guide ul{list-style-type:disc;list-style-position:inside}
.guide .span4{width:350px;display:inline-block;float:right;padding:2px 20px;margin:0 4px}
.guide .span6{width:545px;display:inline-block;float:right;padding:2px 20px;margin:0 4px}
@font-face{font-family:'icons';src:url("/static/fonts/icons.eot?v=5") format('embedded-opentype'),url("/static/fonts/icons.ttf?v=5") format('truetype');font-weight:normal;font-style:normal}
.icon{font-family:'icons';font-weight:normal !important;display:inline-block;vertical-align:middle}
.dropmenu{position:absolute;margin-top:8px;margin-left:-8px;padding:8px 0;background-color:rgba(252,251,254,0.98);-webkit-border-radius:5px;border-radius:5px;border:1px solid rgba(199,197,201,0.98);-webkit-box-shadow:0 0 2px 1px rgba(224,224,224,0.99);box-shadow:0 0 2px 1px rgba(224,224,224,0.99);cursor:default;text-align:end;color:rgba(25,23,28,0.7);font-family:verdana;font-size:14px;font-weight:normal;}
.dropmenu .item{padding:3px 14px;-webkit-transition:100ms;-moz-transition:100ms;-o-transition:100ms;-ms-transition:100ms;transition:100ms;}
.dropmenu .item:hover{background-color:rgba(102,51,153,0.9);color:#fcfcfd}
.dropmenu .item.selected{background-color:rgba(178,156,201,0.5);color:#807986}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{margin:0;padding:0;background-color:#eff0f0;background-image:url("/static/images/cream_dust.png")}
.oud_bg{background-color:#523314;background-image:url("/static/images/oud-bg.png");background-position:0 -200px;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";position:absolute;top:0;height:584px;width:100%;z-index:-10;-webkit-box-shadow:0 0 3px 1px #000;box-shadow:0 0 3px 1px #000}
html,body{height:100%;direction:rtl}
div,p{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
div#keys{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*:focus{-webkit-box-shadow:0 0 3px #c0c0c0;box-shadow:0 0 3px #c0c0c0;outline:none}
div.layout{padding:0;margin:0 auto;width:998px;}
div.layout > div{padding:0;margin:0}
div.app{text-align:right;}
div.app > div{display:inline-block;vertical-align:top;margin-top:10px}
div.app > div.controls{width:310px;vertical-align:top;direction:rtl;text-align:right}
div.app div.keyboard{width:680px;height:500px;direction:ltr;border:1px solid #c0c0c0;-webkit-border-radius:5px;border-radius:5px;background-color:rgba(252,252,253,0.6)}
body{font:normal 12pt Ubuntu;color:#333}
#error_box div,#error_box span{font:normal 12pt sans;padding:8px;margin:10px;width:90%;-webkit-border-radius:6px;border-radius:6px}
#error_box .error{border:2px solid #f00;background-color:#f7dad4;color:#2e1305}
#error_box .warning{border:2px solid #ffa500;background-color:#f1f7d4;color:#202e05}
code{font-family:monospace}
div.text_page{width:500px;margin:10px 40px;}
div.text_page *{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
div.text_page h1{font-size:1.8em;font-weight:bold}
div.text_page h2{font-size:1.3em}
div.text_page h3{font-size:1.2em}
div.text_page h1,div.text_page h2,div.text_page h3,div.text_page p{margin:13px 2px}
div.text_page pre,div.text_page code{font:normal 10pt monospace}
div.text_page pre{margin-left:20px}
.guide{margin-top:0;direction:rtl;text-align:right;font-family:amiri;display:inline-block;}
.guide h1{font-size:24pt;text-align:center;margin-top:20px;margin-bottom:10px;padding-bottom:-10px;border-bottom:1px solid #ced2d4}
.guide p,.guide li{margin-bottom:16px;font-size:14pt}
.guide ul{list-style-type:disc;list-style-position:inside}
.guide .span4{width:350px;display:inline-block;float:right;padding:2px 20px;margin:0 4px}
.guide .span6{width:545px;display:inline-block;float:right;padding:2px 20px;margin:0 4px}
@font-face{font-family:'icons';src:url("/static/fonts/icons.eot?v=5") format('embedded-opentype'),url("/static/fonts/icons.ttf?v=5") format('truetype');font-weight:normal;font-style:normal}
.icon{font-family:'icons';font-weight:normal !important;display:inline-block;vertical-align:middle}
.dropmenu{position:absolute;margin-top:8px;margin-left:-8px;padding:8px 0;background-color:rgba(252,251,254,0.98);-webkit-border-radius:5px;border-radius:5px;border:1px solid rgba(199,197,201,0.98);-webkit-box-shadow:0 0 2px 1px rgba(224,224,224,0.99);box-shadow:0 0 2px 1px rgba(224,224,224,0.99);cursor:default;text-align:end;color:rgba(25,23,28,0.7);font-family:verdana;font-size:14px;font-weight:normal;}
.dropmenu .item{padding:3px 14px;-webkit-transition:100ms;-moz-transition:100ms;-o-transition:100ms;-ms-transition:100ms;transition:100ms;}
.dropmenu .item:hover{background-color:rgba(102,51,153,0.9);color:#fcfcfd}
.dropmenu .item.selected{background-color:rgba(178,156,201,0.5);color:#807986}
.ib{display:inline-block}
.jins_controls{text-align:center}
#keys{text-align:center;margin-top:30px;}
#keys *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
#keys .row{margin:-10px 0;}
#keys .row .key{cursor:pointer;-moz-user-select:none;-webkit-user-select:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;padding:0;margin:0 -2px;background-image:url("/static/images/btn.png");background-repeat:no-repeat;background-position-x:center;background-color:#faf7fc;-webkit-background-size:100% 100%;-moz-background-size:100% 100%;background-size:100% 100%;border:1px solid #d6c6e7;-webkit-box-shadow:0 0 4px 1px #e6e6e6;box-shadow:0 0 4px 1px #e6e6e6;display:inline-block;width:56px;height:110px;text-align:center;text-shadow:0 0 2px #e6e6e6;overflow:hidden;-webkit-border-radius:4px;border-radius:4px;}
#keys .row .key .half{height:53px;line-height:60px;padding:0;margin:0;overflow:hidden;text-align:center;}
#keys .row .key .half .kb_key{font-family:Verdana;font-size:12px;font-weight:normal;color:#455445;line-height:50px}
#keys .row .key .half .note_name{font:normal 18px Baghdad,monospace;color:#9985ad;line-height:50px}
#keys .row .key.pressed{background-image:url("/static/images/btn-pressed.png");color:#1f141f;border-color:#f0e2fd;}
#keys .row .key.pressed .kb_key{color:#574b0f}
#keys .row .key.pressed .note_name{color:#66527a}
#keys .row .key.semi_pressed{background-image:url("/static/images/btn-half-pressed.png");}
#keys .row .key.semi_pressed .kb_key{color:#574b0f}
#keys .row .key.mark{background-image:url("/static/images/btn-marked.png")}
#keys .row .key.mark.pressed{background-image:url("/static/images/btn-marked-pressed.png")}
#keys .row .key.mark.semi_pressed{background-image:url("/static/images/btn-marked-half-pressed.png")}
#keys .row .separator{display:inline-block;margin:0;padding:0;vertical-align:top;margin-top:27px;line-height:7px;font-size:6px;color:#fff;text-align:center;font:monospace}
#keys .row .separator_5{width:10px;background-color:#000}
#keys .row .separator_7{width:14px;background-color:#666}
#keys .row .separator_8,#keys .row .separator_9{width:20px;background-color:#000}
#keys .row .separator_12{width:30px;background-color:#666}
#oud_kb{direction:ltr;}
#oud_kb .diwan{border:1px solid #c0c0c0;margin:20px 0}
#oud_kb .watar{display:block}
#oud_kb .group{display:inline-block;margin:0 18px;}
#oud_kb .group .note_name{text-align:center}
#oud_kb .key{display:inline-block;-webkit-border-radius:2px;border-radius:2px;border:1px solid #c0c0c0;width:36px;height:40px;text-align:center;}
#oud_kb .key.pressed{background-color:#c0c0c0}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
body{margin:0;padding:0;background-color:#eff0f0;background-image:url("/static/images/cream_dust.png")}
.oud_bg{background-color:#523314;background-image:url("/static/images/oud-bg.png");background-position:0 -200px;opacity:.7;filter:alpha(opacity=70);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";position:absolute;top:0;height:584px;width:100%;z-index:-10;-webkit-box-shadow:0 0 3px 1px #000;box-shadow:0 0 3px 1px #000}
html,body{height:100%;direction:rtl}
div,p{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
div#keys{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
*:focus{-webkit-box-shadow:0 0 3px #c0c0c0;box-shadow:0 0 3px #c0c0c0;outline:none}
div.layout{padding:0;margin:0 auto;width:998px;}
div.layout > div{padding:0;margin:0}
div.app{text-align:right;}
div.app > div{display:inline-block;vertical-align:top;margin-top:10px}
div.app > div.controls{width:310px;vertical-align:top;direction:rtl;text-align:right}
div.app div.keyboard{width:680px;height:500px;direction:ltr;border:1px solid #c0c0c0;-webkit-border-radius:5px;border-radius:5px;background-color:rgba(252,252,253,0.6)}
body{font:normal 12pt Ubuntu;color:#333}
#error_box div,#error_box span{font:normal 12pt sans;padding:8px;margin:10px;width:90%;-webkit-border-radius:6px;border-radius:6px}
#error_box .error{border:2px solid #f00;background-color:#f7dad4;color:#2e1305}
#error_box .warning{border:2px solid #ffa500;background-color:#f1f7d4;color:#202e05}
code{font-family:monospace}
div.text_page{width:500px;margin:10px 40px;}
div.text_page *{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}
div.text_page h1{font-size:1.8em;font-weight:bold}
div.text_page h2{font-size:1.3em}
div.text_page h3{font-size:1.2em}
div.text_page h1,div.text_page h2,div.text_page h3,div.text_page p{margin:13px 2px}
div.text_page pre,div.text_page code{font:normal 10pt monospace}
div.text_page pre{margin-left:20px}
.guide{margin-top:0;direction:rtl;text-align:right;font-family:amiri;display:inline-block;}
.guide h1{font-size:24pt;text-align:center;margin-top:20px;margin-bottom:10px;padding-bottom:-10px;border-bottom:1px solid #ced2d4}
.guide p,.guide li{margin-bottom:16px;font-size:14pt}
.guide ul{list-style-type:disc;list-style-position:inside}
.guide .span4{width:350px;display:inline-block;float:right;padding:2px 20px;margin:0 4px}
.guide .span6{width:545px;display:inline-block;float:right;padding:2px 20px;margin:0 4px}
@font-face{font-family:'icons';src:url("/static/fonts/icons.eot?v=5") format('embedded-opentype'),url("/static/fonts/icons.ttf?v=5") format('truetype');font-weight:normal;font-style:normal}
.icon{font-family:'icons';font-weight:normal !important;display:inline-block;vertical-align:middle}
.dropmenu{position:absolute;margin-top:8px;margin-left:-8px;padding:8px 0;background-color:rgba(252,251,254,0.98);-webkit-border-radius:5px;border-radius:5px;border:1px solid rgba(199,197,201,0.98);-webkit-box-shadow:0 0 2px 1px rgba(224,224,224,0.99);box-shadow:0 0 2px 1px rgba(224,224,224,0.99);cursor:default;text-align:end;color:rgba(25,23,28,0.7);font-family:verdana;font-size:14px;font-weight:normal;}
.dropmenu .item{padding:3px 14px;-webkit-transition:100ms;-moz-transition:100ms;-o-transition:100ms;-ms-transition:100ms;transition:100ms;}
.dropmenu .item:hover{background-color:rgba(102,51,153,0.9);color:#fcfcfd}
.dropmenu .item.selected{background-color:rgba(178,156,201,0.5);color:#807986}
#maqam_section{text-align:right;direction:rtl}
.maqam_btn{cursor:pointer;border:solid 1px #d1d4e0;display:inline-block;text-align:center;direction:rtl;font-size:1.1em;text-shadow:1px 1px 2px #70c299;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #fff), color-stop(2.8, #ebebeb));background:-webkit-linear-gradient(top, #fff 20%, #ebebeb 280%);background:-moz-linear-gradient(top, #fff 20%, #ebebeb 280%);background:-o-linear-gradient(top, #fff 20%, #ebebeb 280%);background:-ms-linear-gradient(top, #fff 20%, #ebebeb 280%);background:linear-gradient(top, #fff 20%, #ebebeb 280%);-webkit-border-radius:5px;border-radius:5px;width:90px;margin:5px;}
.maqam_btn:hover,.maqam_btn.hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1.8, #ebebeb));background:-webkit-linear-gradient(top, #fff 0%, #ebebeb 180%);background:-moz-linear-gradient(top, #fff 0%, #ebebeb 180%);background:-o-linear-gradient(top, #fff 0%, #ebebeb 180%);background:-ms-linear-gradient(top, #fff 0%, #ebebeb 180%);background:linear-gradient(top, #fff 0%, #ebebeb 180%)}
.maqam_btn:active,.maqam_btn.active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #fafafa));background:-webkit-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:-moz-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:-o-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:-ms-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:linear-gradient(top, #e0e0e0 0%, #fafafa 100%);text-shadow:1px 1px 2px #dbf0e6}
.maqam_btn:active,.maqam_btn.active{font-size:1.09em}
.btn{cursor:pointer;border:solid 1px #d1d4e0;display:inline-block;text-align:center;direction:rtl;font-size:1.1em;text-shadow:1px 1px 2px #70c299;background:-webkit-gradient(linear, left top, left bottom, color-stop(0.2, #fff), color-stop(2.8, #ebebeb));background:-webkit-linear-gradient(top, #fff 20%, #ebebeb 280%);background:-moz-linear-gradient(top, #fff 20%, #ebebeb 280%);background:-o-linear-gradient(top, #fff 20%, #ebebeb 280%);background:-ms-linear-gradient(top, #fff 20%, #ebebeb 280%);background:linear-gradient(top, #fff 20%, #ebebeb 280%);-webkit-border-radius:5px;border-radius:5px;margin:2px;color:rgba(25,23,28,0.7);font-family:verdana;font-size:14px;font-weight:normal;min-width:20px;padding:4px 8px;text-shadow:none;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.btn:hover,.btn.hover{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fff), color-stop(1.8, #ebebeb));background:-webkit-linear-gradient(top, #fff 0%, #ebebeb 180%);background:-moz-linear-gradient(top, #fff 0%, #ebebeb 180%);background:-o-linear-gradient(top, #fff 0%, #ebebeb 180%);background:-ms-linear-gradient(top, #fff 0%, #ebebeb 180%);background:linear-gradient(top, #fff 0%, #ebebeb 180%)}
.btn:active,.btn.active{background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #e0e0e0), color-stop(1, #fafafa));background:-webkit-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:-moz-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:-o-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:-ms-linear-gradient(top, #e0e0e0 0%, #fafafa 100%);background:linear-gradient(top, #e0e0e0 0%, #fafafa 100%);text-shadow:1px 1px 2px #dbf0e6}
.btn *{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.btn.flat{background:none;background-color:trasparent}
.btn.jins{direction:ltr;padding:10px 0;width:84px;text-align:center;}
.btn.jins .key{display:inline-block;vertical-align:middle;text-align:center;width:15px;padding:2px 0;border:1px solid rgba(191,191,191,0.6);color:#a3a3a3;font-family:monospace;font-size:9px}
.btn.basenote{height:20px;direction:ltr;vertical-align:middle;line-height:20px}
.btn-group{direction:ltr;display:inline-block;}
.btn-group .btn{-webkit-border-radius:0;border-radius:0;margin:0;border-left-width:0}
.btn-group .btn:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px;border-left-width:1px}
.btn-group .btn:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px}
.btn-stack .btn-group .btn{-webkit-border-radius:0;border-radius:0;border-bottom-width:0;-webkit-border-radius:0;border-radius:0}
.btn-stack .btn-group:first-child .btn:first-child{border-top-left-radius:5px}
.btn-stack .btn-group:first-child .btn:last-child{border-top-right-radius:5px}
.btn-stack .btn-group:last-child .btn{border-bottom-width:1px}
.btn-stack .btn-group:last-child .btn:first-child{border-bottom-left-radius:5px}
.btn-stack .btn-group:last-child .btn:last-child{border-bottom-right-radius:5px}
.section.maqamPresets{text-align:center;}
.section.maqamPresets .btn-group{margin-top:10px;}
.section.maqamPresets .btn-group .btn.maqamPreset.maqamName{width:60px;font-weight:bold}
.section.maqamPresets .btn-group .btn.maqamPreset.maqamBase{width:20px}
.jins_controls{-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;margin-top:-1px;}
.jins_controls .btn-group{margin-right:-1px;margin-left:-1px;}
.jins_controls .btn-group .btn:first-child{-webkit-border-radius:5px 0 0 0;border-radius:5px 0 0 0}
.jins_controls .btn-group .btn:last-child{-webkit-border-radius:0 5px 0 0;border-radius:0 5px 0 0;padding-right:1px}
.controls > .panel{display:block;width:300px;padding:10px 0;background-color:#fcfcfc;border:1px solid #e6e6e6;-webkit-border-radius:5px;border-radius:5px;margin-bottom:10px;}
.controls > .panel .section{border-bottom:1px solid #e6e6e6;}
.controls > .panel .section:first-child{margin-top:2px}
.controls > .panel .section:last-child{border-bottom:none}
.controls > .panel .section.pad{padding:14px 20px 2px}
.controls > .panel .section .label{width:80px;display:inline-block;vertical-align:middle}
.controls > .panel .section .def{min-width:120px;display:inline-block;vertical-align:middle}
.controls > .panel .section.header{text-align:center;}
.controls > .panel .section.header h3{font-family:amiri,helvetica;font-size:18px;font-weight:bold;margin-bottom:4px}
.maqam_info .section.ajnas{height:100px;padding-top:0;margin-top:4px;}
.maqam_info .section.ajnas .pointer{position:absolute;background-color:rgba(204,173,235,0.1);-webkit-box-shadow:0 0 5px 0 rgba(204,189,219,0.5) inset;box-shadow:0 0 5px 0 rgba(204,189,219,0.5) inset;width:288px;height:30px;font-size:22px;-webkit-border-radius:0;border-radius:0;border:1px solid #c0c0c0;border-width:1px 0;-webkit-transition:200ms;-moz-transition:200ms;-o-transition:200ms;-ms-transition:200ms;transition:200ms;line-height:27px;padding-right:14px;color:#4c2673;margin-right:-1px;}
.maqam_info .section.ajnas .pointer.first{margin-top:-5px}
.maqam_info .section.ajnas .pointer.second{margin-top:25px}
.maqam_info .section.ajnas .pointer .icon.lock{font-size:12px;color:rgba(76,54,99,0.7);margin-right:240px}
.maqam_info .section.ajnas .shortcuts{position:absolute;margin-right:204px;margin-top:-60px;font-size:12px;color:rgba(127,64,191,0.5);}
.maqam_info .section.ajnas .shortcuts .btn{font-size:11px;line-height:11px;height:11px;padding:3px 0}
.maqam_info .section.ajnas .jins{padding-right:50px;height:30px}
.rtl{text-align:right;direction:rtl}
.ltr{text-align:left;direction:ltr}
.logo{background-image:url("/static/images/logo.png");background-repeat:no-repeat;background-position:top right;height:60px;width:994px;-webkit-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;background-color:rgba(252,251,254,0.9);border:1px solid #c0c0c0;border-top:none}
.maqam_name{font:normal 1.5em amiri;text-shadow:0 1px 1px #000;color:#414059;direction:rtl;text-align:center}
