<div class="panel maqam_info">
    <div class="section maqam_name">
        <div data-bind="html: scaleDisplayName"></div>
    </div>
    <!-- jins info -->
    <div class="section ajnas" data-bind="with: jinsSetCtrl">
        <div class="pointer" data-bind="attr: { class : pointerClass }">
            <span class="icon"> &gt; </span>
            <span class="icon lock" data-bind="visible: locked"> 4 </span>
        </div>
        <!-- ko template: { name: 'template_jins_ctrl', data: jinsCtrl(jins1, 'first-jins') } -->
        <!-- /ko -->
        <!-- ko template: { name: 'template_jins_ctrl', data: jinsCtrl(jins2, 'second-jins') } -->
        <!-- /ko -->
        <!-- xko if: jins3 -->
            <!-- xko template: { name: 'template_jins_ctrl', data: jinsCtrl(jins3, 'الجنس الثالث') } -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- base note -->
    <div class="section pad base_note" data-bind="with: baseNoteCtrl">
        <label class="label" data-bind="text: getText('base-note')"></label>
        <div class="btn-group"><!--
            --><div class="btn basenote" data-bind="click: prevBase">-</div><!--
            --><div class="btn basenote" style="width: 58px" data-bind="click: toggleDropmenu"><!--
                --><span data-bind="html: selectedDisplayName"></span> <span class="icon"> v </span><!--
            --></div><!--
            --><div class="btn basenote" data-bind="click: nextBase">+</div><!--
        --></div>
        <div class="dropmenu notes" data-bind="visible: dropmenuVisible, foreach: baseNotes">
            <div class="item" data-bind="html: display, css: { selected : $parent.selected() == raw },
                click: function() {
                    $parent.selected(raw);
                }"></div>
        </div>
    </div>
</div>

<div class="panel" data-bind="with: maqamPresetsCtrl">
    <div class="section header">
        <h3 data-bind="text: getText('maqam-presets')"></h3>
    </div>
    <div class="section maqamPresets" data-bind="foreach: presets">
        <div class="btn-group" data-bind="with: pianoBound(piano)"><!--
            --><div class="btn maqamPreset maqamBase" data-bind="html: simpleNoteName, click: applyWithBase, css: { active: isAppliedWithBase }"></div><!--
            --><div class="btn maqamPreset maqamName" data-bind="html: maqamName, click: apply, css: { active: isApplied }"></div><!--
        --></div>
    </div>
</div>

<!-- For this template, assume current bound data is a jins object -->
<script type="text/html" id="template_jins_info">
    <div>
        <span class="ib" data-bind="text: displayName"> </span>
    </div>
</script>

<script type="text/html" id="template_jins_ctrl">
    <div class="jins arrow" data-bind="hover: hovered">
        <div class="ib arrow_space ptr" data-bind="click: select, hover: shadowArrowHover">
            <span class="icon pointer_shadow" data-bind="visible: shadowArrowVisible"> &gt; </span>
            &nbsp;
        </div><!--
        --><label class="label ptr" data-bind="text: displayLabel, click: select, hover: shadowArrowHover"></label>
        <p class="def arrow">
            <span class="ib" data-bind="click: toggleJinsMenu">
                <span data-bind="text: displayName"> </span>
                <span class="icon"> v </span>
            </span>
        </p>
        <div class="ib lock" data-bind="hover: shadowLockHover">
            <span class="ib icon ptr lock_shadow" data-bind="visible: shadowLockVisible, click: toggleLock">
                <!-- ko if: isLocked --> 5 <!-- /ko -->
                <!-- ko ifnot: isLocked --> 4 <!-- /ko -->
            </span>
            <span data-bind="ifnot: shadowLockVisible">
                &nbsp;
            </span>
        </div>
    </div>
    <div class="dropmenu ajnas" data-bind="visible: jinsMenuVisible, foreach: $parent.buttons">
        <div class="item" data-bind="css: { selected : $parent.jins() == jins },
            click: function() { $parent.jins(jins); }">
            <span class="text-mini" data-bind="html: key"></span>)
            <span data-bind="html: displayName"></span>
        </div>
    </div>
</script>
