<div class="panel maqam_info">
    <div class="section maqam_name">
        <div data-bind="html: scaleDisplayName"></div>
    </div>
    <!-- jins info -->
    <div class="section ajnas" data-bind="with: jinsSetCtrl">
        <div class="pointer" data-bind="attr: { class : pointerClass }">
            <span class="icon arrow"> &gt; </span>
            <span class="icon lock" data-bind="visible: locked"> 4 </span>
        </div>
        <!-- ko template: { name: 'template_jins_ctrl', data: jinsCtrl(jins1, 'الجنس الأول') } -->
        <!-- /ko -->
        <!-- ko template: { name: 'template_jins_ctrl', data: jinsCtrl(jins2, 'الجنس الثاني') } -->
        <!-- /ko -->
        <!-- xko if: jins3 -->
            <!-- xko template: { name: 'template_jins_ctrl', data: jinsCtrl(jins3, 'الجنس الثالث') } -->
            <!-- /ko -->
        <!-- /ko -->
    </div>
    <!-- base note -->
    <div class="section pad base_note" data-bind="with: baseNoteCtrl">
        <label class="label"> نغمة البداية </label>
        <div class="btn-group"><!--
            --><div class="btn basenote" data-bind="click: prevBase">-</div><!--
            --><div class="btn basenote" style="width: 58px" data-bind="click: toggleDropmenu"><!--
                --><span data-bind="html: selectedDisplayName"></span> <span class="icon"> v </span><!--
            --></div><!--
            --><div class="btn basenote" data-bind="click: nextBase">+</div><!--
        --></div>
        <div class="dropmenu" style="margin-top: 2px; margin-right: 120px; width: 76px;"
            data-bind="visible: dropmenuVisible, foreach: baseNotes">
            <div class="item" data-bind="html: display, css: { selected : $parent.selected() == raw },
                click: function() {
                    $parent.selected(raw);
                }"></div>
        </div>
    </div>
</div>

<div class="panel" data-bind="with: maqamPresetsCtrl">
    <div class="section header">
        <h3>مقامات جاهزة</h3>
    </div>
    <div class="section maqamPresets" data-bind="foreach: presets">
        <div class="btn-group" data-bind="with: pianoBound(piano)"><!--
            --><div class="btn maqamPreset maqamBase" data-bind="html: simpleNoteName, click: applyWithBase, css: { active: isAppliedWithBase }"></div><!--
            --><div class="btn maqamPreset maqamName" data-bind="html: maqamName, click: apply, css: { active: isApplied }"></div><!--
        --></div>
    </div>
</div>

<!-- For this template, assume current bound data is a jins object -->
<script type="text/html" id="template_jins_info">
    <div>
        <span class="ib" data-bind="text: dispName"> </span>
    </div>
</script>

<script type="text/html" id="template_jins_ctrl">
    <div class="jins" data-bind="click: select">
        <label class="label" data-bind="text: label"></label>
        <p class="def">
            <span class="ib" data-bind="text: dispName"> </span>
        </p>
    </div>
</script>
