<div class="guide">
    <div class="span4">
        <h1>
            هذا الموقع
        </h1>

        <p>
هذا الموقع هو الة موسيقية الكترونية مصممة لعزف المقامات الشرقية اللتي تحتاج الى عود او قانون للعزف عليها.
        </p>
        <p>
قمت بانشائه لكي اكون قادرا على العزف على المقام من دون ان اكون محترفا في العود.
        </p>
        <h1>
بناء السلم الموسيقي
        </h1>
        <p>
يتكون السلم من جنسين، كل جنس عبارة عن اربع نغمات، يتم وضع الجنسين مع بعض، مع وضع فاصل بنسبة 3:2 بينهما. هذا الفاصل هو النسبة الرياضية بين تردد النغمات، حيث نقيس البعد بين النغمة و الاخرى بالنسبة الرياضية بين تردداتها، مثلا نغمة ترددها الصوتي 100 هرتز و نغمة اخرى ترددها 150 هرتز، النسبة بينهما هي 3:2
</p>
        <p>
يحتاج السلم الموسيقي ايضا الى نغمة معينة يبدأ منها
        </p>
    </div>
    <div class="span6">
        <h1>
            كيفية العزف باستخدام هذا الموقع
        </h1>

        <p>
ازرار العزف في الوسط مرتبة بحيث تتطابق مع الازرار الموجودة على لوحة المفاتيح (الانكليزية) على الكومبيوتر. يمكن عزف النغمات الاربعة الاولى من السلم عن طريق الازرار D F G H
        </p>
        <p>
على اليمين هناك قائمة بالمقامات، يمكن اختيار مقام معين و سيتغير السلم الموسيقي وفقا للمقام.
        </p>
        <p>
تتكون اللوحة من ثلاثة اسطر، كل سطر يمثل اوكتيف، و يحتوي على نغمات من الاوكتيف السابق و اللاحق لتسهيل الانتقال الى اعلى و اسفل في درجات السلم.
        </p>
        <h1>
تضبيط السلم الموسيقي
        </h1>
        <p>
يمكن تضبيط السلم ايضا عن طريق تغيير الجنس الأول و الثاني عن طريق لوحة التحكم على اليمين. يمكن الضغط على اسم الجنس للحصول الى قائمة بالاجناس و اختيار جنس آخر، او يمكن تغيير الجنس عن طريق لوحة المفاتيح عن طريق الارقام (1-8) لتغيير الجنس اللذي تحت المؤشر، و يمكن استخدام الزر 0 لتحريك المؤشر.
</p>
<p>
نغمة البداية يمكن تغييرها بنفس الطريقة: عن طريق الضغط على الزر المخصص لها في لوحة التحكم و اختيار نغمة اخرى من القائمة، او عن طريق الازرار + و - على لوحة المفاتيح.</p>
        
    </div>
</div>
