<div id="keys" data-bind="foreach: { data: vkb_rows, as: 'row' }">
    <div class="row" data-bind="foreach: row"><!--
        --><div data-bind="attr: {class: containerClass}"><!--
            --><div class="key unpressed" data-bind="event: { mousedown: keydown, mouseup: keyup, mouseenter: hover, mouseleave: keyup }, attr: {class: elClass}"><!--
                --><div class="half upper"><!--
                    --><div class='kb_key' data-bind="html: dispLetter">&nbsp;</div><!--
                --></div><!--
                --><div class="half lower"><!--
                    --><div class='note_name'>
                        <span data-bind="html: dispNoteName"></span><!--
                        --><span class='accidental' data-bind="html: dispNoteAccidental"></span>
                        </div><!--
                    --></div><!--
                --></div><!--
            --></div><!--
        --><!-- ko if: $index() + 1 < $parentContext.row.length --><!--
            --><div data-bind="attr: {class: 'separator separator_' + distanceToNext()}">&nbsp;</div><!--
        --><!-- /ko --><!--
    --></div>
</div>
