<div id="oud_kb" data-bind="with: oud">
    <div data-bind="foreach: instrument.diwans">
        <div class="diwan">
            Diwan:
            <!-- ko foreach: ajnas -->
            <div class="watar">
                Jins:
                <!-- ko foreach: groups -->
                    <div class="group">
                    <div class="note_name" data-bind="text: dispNoteName"></div>
                    <br>
                    <!-- ko foreach: keys -->
                        <div class="key" data-bind="html: boundChar, css: {pressed: is_down}, click: click">
                        </div>
                    <!-- /ko -->
                    </div>

                <!-- /ko -->
            </div>

            <!-- /ko -->
        </div>
    </div>
</div>
