<!doctype html>
<html manifest="/oud.appcache">
    <head>
        <title>أوتار</title>
        <link rel="icon" type="image/png" href="/icon.png">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/amiri.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/earlyaccess/droidarabickufi.css">
        <link rel='stylesheet' type='text/css' href='//fonts.googleapis.com/css?family=Droid+Sans|Droid+Serif:400,700'>
        <link rel="stylesheet" type="text/css" href="/all.css">
        <script type="text/javascript" src="/libs.js"></script>
        <script type="text/javascript" src="/client.js"></script>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% include "ga.html" %}
    </body>
</html>
