@import 'nib'

global-reset()

widget-font()
    color: hsla(270, 10%, 10%, 0.7);
    font-family: verdana;
    font-size: 14px;
    font-weight normal

bgcol = hsl(200, 5, 94)
footer_bgcol = hsl(200, 6, 90)
body
    margin 0px
    padding 0px
    background-color bgcol
    background-image: url('/static/images/cream_dust.png')

.oud_bg
    background-color: hsl(30, 60, 20)
    background-image: url('/static/images/oud-bg.png')
    background-position: 0 -200px
    opacity: 0.7
    position: absolute
    top: 0
    height: 584px
    width: 100%
    z-index: -10
    box-shadow 0px 0px 3px 1px black


html, body
    height 100%
    direction rtl

div, p
    user-select text

div#keys
    user-select none

focuscol = silver

*:focus
   box-shadow 0px 0px 3px focuscol
   outline none

pad()
    padding 20px 12px

standout()
    margin 10px 50px

link()
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    user-select none

div.layout
    padding 0
    margin 0 auto
    width 998px
    > div
        padding 0
        margin 0

div.app
    text-align right
    > div
        display inline-block
        vertical-align top
        margin-top: 10px
    > div.controls
        width 310px
        vertical-align top
        direction rtl
        text-align right
    div.keyboard
        width 680px
        height 500px
        direction ltr
        border 1px solid silver
        border-radius 5px
        background-color hsla(270, 20, 99, 0.6)

body
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)

// XXX remove this?!!
#error_box
  div, span
    font normal 12pt sans
    padding 8px
    margin 10px
    width 90%
    border-radius 6px
  .error
    border 2px solid red
    background-color hsl(10, 70, 90)
    color hsl(20, 80, 10)
  .warning
    border 2px solid orange
    background-color hsl(70, 70, 90)
    color hsl(80, 80, 10)

code
    font-family monospace

div.text_page
    *
        user-select text
    width 500px
    margin 10px 40px
    h1
        font-size 1.8em
        font-weight bold
    h2
        font-size 1.3em
    h3
        font-size 1.2em
    h1, h2, h3, p
        margin 13px 2px
    pre, code
        font normal 10pt monospace
    pre
        margin-left 20px


.guide
    span()
        display inline-block
        float right
        padding 2px 20px
        margin 0 4px
    margin-top 0px
    // border-top 1px solid hsla(30, 93, 24, 0.5)
    direction rtl
    text-align right
    font-family amiri
    display inline-block
    h1
        font-size 24pt
        text-align center
        margin-top 20px
        margin-bottom 10px
        padding-bottom -10px
        border-bottom 1px solid hsl(200, 6, 82)

    p, li
        margin-bottom 16px
        font-size 14pt

    ul
        list-style-type: disc;
        list-style-position: inside;

    .span4
        width 350px
        span()
    .span6
        width 545px
        span()

// fonts
@font-face {
  font-family: 'icons';
  src: url('/static/fonts/icons.eot?v=3') format('embedded-opentype'),
       url('/static/fonts/icons.ttf?v=3') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon
    font-family 'icons'
    font-weight normal !important
    display inline-block
    vertical-align middle

.dropmenu
    position: absolute
    margin-top: 8px
    margin-left: -8px
    padding: 8px 0px;
    background-color: hsla(270, 50%, 99%, 0.98)
    border-radius 5px
    border 1px solid hsla(270, 4, 78, 0.98)
    box-shadow 0px 0px 2px 1px hsla(270, 0, 88, 0.99)
    cursor: default
    text-align center
    widget-font()
    .item
        padding: 3px 14px
        transition: 100ms
        &:hover
            background-color hsla(270, 50%, 40%, 0.9)
            color: hsl(270, 10, 99)
        &.selected
            background-color hsla(270, 30%, 70%, 0.5)
            color: hsl(270, 5, 50)

