@import 'nib/reset'
@import 'macros'

global-reset()

bgcol = hsl(200, 5, 94)
footer_bgcol = hsl(200, 6, 90)

html, body
    height 100%
    direction rtl

body
    margin 0px
    padding 0px
    background-color bgcol
    background-image: url('/static/images/cream_dust.png')
    font normal 12pt Ubuntu
    color hsl(0, 0%, 20%)


div, p
    user-select text

div#keys
    user-select none

focuscol = silver

*:focus
   box-shadow 0px 0px 3px focuscol
   outline none

pad()
    padding 20px 12px

standout()
    margin 10px 50px

link()
    cursor pointer
    -moz-user-select none
    -webkit-user-select none
    user-select none

div.layout
    padding 0
    margin 0 auto
    width 1026px
    > div
        padding 0
        margin 0

div.app
    text-align right
    direction rtl
    > div
        display inline-block
        vertical-align top
        margin-top: 10px
    > div.controls
        width 302px
        vertical-align top
        margin-left 8px
    &.lang_rtl > div.controls
        text-align right
        direction rtl
    &.lang_ltr > div.controls
        direction ltr
        text-align left
    div.keyboard
        width 710px
        height 500px
        direction ltr
        border 1px solid silver
        border-radius 5px
        background-color hsla(270, 20, 99, 0.6)

.oud_bg
    background-color: hsl(30, 60, 20)
    background-image: url('/static/images/oud-bg.png')
    background-position: 0 -200px
    background-size: cover
    opacity: 0.7
    position: absolute
    top: 0
    height: 572px
    width: 100%
    z-index: -10
    box-shadow 0px 0px 3px 1px black

.top
    width 1024px
    border-radius: 0 0 5px 5px
    border 1px solid silver
    border-top none
    direction ltr
    background-color hsl(0, 0, 99)

.shortcuts
    font-size 0px
    color hsla(270, 50, 50, 0.5)
    direction ltr
    padding 8px 10px !important
    display inline-block
    .btn-group
        margin-right 5px
    .btn
        font-size 14px
        line-height 14px
        height 14px
        padding 3px 3px
        display inline-block
        vertical-align middle
    .btn.jins
        text-align center
        font-family 'Droid Arabic Kufi', 'Droid Sans', sans-serif;

.shortcuts.ajnas
    width 696px

.shortcuts.keys
    width 182px

// XXX remove this?!!
#error_box
  div, span
    font normal 12pt sans
    padding 8px
    margin 10px
    width 90%
    border-radius 6px
  .error
    border 2px solid red
    background-color hsl(10, 70, 90)
    color hsl(20, 80, 10)
  .warning
    border 2px solid orange
    background-color hsl(70, 70, 90)
    color hsl(80, 80, 10)

code
    font-family monospace

div.text_page
    *
        user-select text
    width 500px
    margin 10px 40px
    h1
        font-size 1.8em
        font-weight bold
    h2
        font-size 1.3em
    h3
        font-size 1.2em
    h1, h2, h3, p
        margin 13px 2px
    pre, code
        font normal 10pt monospace
    pre
        margin-left 20px

.ptr
    link()

.arrow
    cursor: default

.guide_container
    &.lang_rtl
        direction rtl
        text-align right
        font-family amiri
    &.lang_ltr
        direction ltr
        text-align left
        font-family Georgia
        line-height: 1.8
.guide
    span()
        display inline-block
        float right
        padding 2px 20px
        margin 0 4px
    margin-top 0px
    // border-top 1px solid hsla(30, 93, 24, 0.5)
    display inline-block
    h1
        font-size 24pt
        text-align center
        margin-top 20px
        margin-bottom 10px
        border-bottom 1px solid hsl(200, 6, 82)

    p, li
        margin-bottom 16px
        font-size 14pt

    ul
        list-style-type: disc;
        list-style-position: inside;

    .span4
        width 350px
        span()
    .span6
        width 545px
        span()

// fonts
@font-face {
  font-family: 'FreeSerif'; // for musical symbols
  src: url('/static/fonts/FreeSerif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('/static/fonts/icons.eot?v=6') format('embedded-opentype'),
       url('/static/fonts/icons.ttf?v=6') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.icon
    font-family 'icons'
    font-weight normal !important
    display inline-block
    vertical-align middle

.dropmenu
    position: absolute
    margin-top: 0px
    margin-left: -8px
    padding-top: 0px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 0px 0px 5px 5px
    border: 1px solid gray;
    border-top-color: silver;
    box-shadow 0px 2px 5px -1px hsla(270, 0, 20, 0.9)
    cursor: default
    widget-font()
    .item
        padding: 8px 20px
        transition: 100ms
        min-width: 80px;
        font-family: "Droid Arabic Kufi", "Droid Sans", FreeSans, sans-serif;
        border-bottom: 1px solid silver;
        &:hover
            background-color hsla(270, 50%, 40%, 0.9)
            color: hsl(270, 10, 99)
        &.selected
            background-color hsla(270, 30%, 70%, 0.5)
            color: hsl(270, 5, 50)

.dropmenu.notes
    margin-top: -3px
    margin-start: 122px
    text-align: end
    .item
        min-width: 74px;
        width: 74px;
        padding: 2px 0px;
        text-align: center;

.dropmenu.ajnas
    margin-top: -4px
    margin-start: 135px
    .item
        min-width: 120px;


.languagePopup {
    textcolor = hsl(270, 60, 40)
    position: fixed;
    top: 0px;
    margin: 100px 200px
    width: 600px;
    padding: 0px;
    color: textcolor;
    text-align: center;
    font-family: 'Droid Arabic Kufi', 'Droid Sans', sans-serif;
    background-color: hsl(270, 0, 99);
    border-radius: 30px;
    box-shadow: 0px 0px 10px -2px darken(textcolor, 10);
    border: 1px solid textcolor;
    opacity: 0.95;
    .content {
        margin: 0px;
        padding: 0px;
        h1 {
            font-size: 40px;
            font-weight: bold;
            padding-top: 50px;
            padding-bottom: 80px;
            direction: ltr;
        }
        div.lang {
            margin: 0px;
            border-top: 1px solid textcolor;
            padding: 20px;
            font-size: 28px;
            &:last-child {
                border-radius: 0 0 30px 30px;
            }

            cursor: pointer;
            &:hover {
                background-color: lighten(textcolor, 45);
            }
        }
    }
}
