unpressed_color = hsl(20, 80, 95)
semipress_color = hsl(40, 60, 87)
press_color = hsl(40, 77, 80)

btn_shadow_color = hsla(0, 0, 0, 0.54);

btn_highlight(color)
    // box-shadow inset 0px -50px 40px -30px color
    background-color color

.ib
    display inline-block

#keys
    borderc = hsl(270, 40, 84)
    borderhilight = hsl(270, 90, 94)
    bgc = hsl(270, 50, 98)
    radiuspx = 2px
    text-align: center;
    margin-top: 30px
    .row
        margin -10px 0px // vertical spacing
        .key
            link();
            * {
                cursor: default;
                user-select: none;
                -webkit-user-select: none;
            }
            padding 0px
            margin: 9px 1px
            background-image url('/images/btn.png')
            background-repeat no-repeat
            background-position-x center
            background-color bgc
            background-size: 100% 100%;
            display inline-block
            width 62px
            height 120px
            text-align center
            text-shadow 0px 0px 2px silver * 1.2
            overflow: hidden
            border-radius: 2px;
            box-shadow: 0px 2px 3px 0px btn_shadow_color;
            .half
                height 60px
                line-height 60px
                padding 0px
                margin 0px
                overflow: hidden
                text-align center
                &:first-child
                    // border-bottom 1px solid borderc
                .kb_key
                    font-family Verdana
                    font-size 10px
                    font-weight normal
                    line-height: 30px
                    width: 30px;
                    margin: 8px auto;
                    margin-top: 10px;
                    color hsla(120, 10, 30, 0.9)
                    border: 1px solid hsla(270, 30, 50, 0.2);
                    border-radius: 2px;
                .note_name
                    // freeserif for music symbols
                    font: bold 16px Amiri, FreeSerif;
                    color hsl(270, 20, 60)
                    line-height: 50px
            &.pressed
                box-shadow: 0px 1px 2px 0px btn_shadow_color;
                background-image url('/images/btn-pressed.png')
                // background-color bgc * 0.8
                color hsl(300, 20, 10)
                .kb_key
                    color hsl(50, 70, 20)
                    border: 1px solid hsla(270, 30, 40, 0.3);
                    margin-top: 11px; // as opposed to 10
                .note_name
                    color hsl(270, 20, 40)
                    padding-top: 1px;
            &.semi_pressed
                box-shadow: 0px 2px 2px 0px btn_shadow_color;
                background-image url('/images/btn-half-pressed.png')
                .kb_key
                    color hsl(50, 70, 20)
                .half.lower
                    // background-color bgc * 0.85
            &.mark
                background-image url('/images/btn-marked.png')
            &.mark.pressed
                background-image url('/images/btn-marked-pressed.png')
            &.mark.semi_pressed
                background-image url('/images/btn-marked-half-pressed.png')
        .separator
            display inline-block
            margin 0px
            padding 0px
            vertical-align top
            margin-top: 48px
            margin-left: -12px
            text-align center
            font-family: monospace
            position: absolute;
            background-color transparent
            height: 24px
            width: 24px
            background-position: center;
            background-repeat: no-repeat;
            background-size: 85%;
            opacity: 0.94;
        .separator_0
            width: 0px
            height: 0px
        .separator_1
            background-image: url('/images/c1.png')
        .separator_2
            background-image: url('/images/c2.png')
        .separator_3, .separator_4
            background-image: url('/images/c3.png')

// oud styles
#oud_kb
    direction ltr
    .diwan
        border 1px solid silver
        margin 20px 0px
    .watar
        display block
        // background image watar
    .group
        display inline-block
        // border 1px solid silver
        margin 0px 18px
        .note_name
            text-align center
    .key
        display inline-block
        border-radius 2px
        border 1px solid silver
        width 36px
        height 40px
        text-align center
        &.pressed
            background-color silver

.lang_ltr {
    .note_name {
        font: normal 14px Tahoma !important;
        line-height: 50px !important;
        direction: ltr;
    }
}

.lang_rtl {
    .note_name {
        direction: rtl;
    }
}

.note_name .accidental {
    font: normal 18px FreeSerif !important;
}

