@import 'nib'
@import 'nib/gradients'

widget-font()
    color: hsla(270, 10, 10, 0.7);
    font-family: verdana;
    font-size: 14px;
    font-weight normal

margin-start(val)
    -webkit-margin-start val
    -moz-margin-start val

margin-end(val)
    -webkit-margin-end val
    -moz-margin-end val

padding-start(val)
    -webkit-padding-start val
    -moz-padding-start val

padding-end(val)
    -webkit-padding-end val
    -moz-padding-end val

maqam-button(bghue=24)
  -reset()
  cursor pointer
  border: solid 1px hsla(bghue, 15, 85, 0.62)
  padding: 3px 2px;
  text-align center
  direction: rtl;
  // font-size: 1.1em;
  text-shadow: 1px 1px 2px hsl(150, 40, 60);
  bg1 = hsl(bghue, 8, 98);
  bg2 = hsl(bghue, 8, 94);
  bg3 = hsl(bghue, 8, 100);
  background: linear-gradient(top, 20% white, 80% bg1);
  border-radius 3px
  &:hover
  &.hover
    background: linear-gradient(top, white, 180% bg2);
  &:active
  &.active
    background: linear-gradient(top, bg2, bg3);
    text-shadow: 1px 1px 2px hsl(150, 40, 90);

