@import 'macros'

#maqam_section
  text-align right
  direction rtl

.btn
    maqam-button()
    margin: 2px;
    widget-font()
    min-width: 20px;
    padding: 4px 8px;
    text-shadow: none
    user-select: none
    *
        user-select: none

.btn.flat
    background none
    background-color hsl(0, 0, 98)
    text-shadow none
    &:active
    &.active
        background-color hsl(0, 0, 90)
        text-shadow none

.btn.basenote
    height: 20px
    direction: ltr
    vertical-align middle
    line-height: 20px
    font-family: "Droid Arabic Kufi", "Droid Sans", FreeSans, sans-serif;

.btn-group
    direction: ltr;
    display: inline-table;
    border-radius: 3px;
    box-shadow: 0px 1px 5px -3px;
    .btn
        display: table-cell;
        border-radius: 0px
        margin: 0px;
        border-left-width: 0px;
    .btn:first-child
        border-top-left-radius: 3px
        border-bottom-left-radius: 3px
        border-left-width: 1px;
    .btn:last-child
        border-top-right-radius: 3px
        border-bottom-right-radius: 3px

.section.maqamPresets
    text-align center
    direction rtl
    .btn-group
        margin-top 10px
        margin-left 10px
        .btn.maqamPreset
            line-height 20px
            vertical-align middle
            &.maqamName
                width: 72px;
                font-weight bold
                .icon
                    line-height 14px
                    height 14px
            &.maqamBase
                width: 20px;

.lang_ltr
    .btn.maqamName
        font-weight normal !important
        font-size 13px


.controls > .panel
    display block
    width 300px
    padding 10px 0px
    background-color: hsl(0, 0, 99);
    // border: 1px solid hsl(0, 0, 90);
    box-shadow: 0px 2px 2px -2px;
    border-radius: 3px;
    &:first-child {
        margin-bottom: 10px;
    }
    .section
        border-bottom 1px solid hsl(0, 0, 90)
        &:first-child
            margin-top 2px
        &:last-child
            border-bottom none

        &.pad
            padding: 14px 20px 2px

        .label
            width 80px
            display inline-block
            vertical-align middle
        .def
            min-width 80px
            display inline-block
            vertical-align middle

        &.header
            text-align center
            h3
                font-family: amiri, helvetica
                font-size: 18px
                font-weight: bold
                margin-bottom: 4px

.maqam_info
    .section.base_note, .section.ajnas {
        font-family 'Droid Arabic Kufi', 'Droid Sans', sans-serif;
    }
    .section.base_note
        .label
            font-size: 12px;
    .section.ajnas
        height 100px
        padding-top 0px
        margin-top: 4px // to accomedate the pointer's 4px up shift
        line-height 18px

        .pointer_shadow
            opacity: 0.2
            font-size 22px
            padding-start 14px
            color: hsl(270, 50, 30)
            margin-start: -1px;

        .pointer
            pointer-events: none; // let mouse clicks fall through
            position: absolute
            background-color hsla(270, 60, 80, 0.1)
            box-shadow 0px 0px 5px 0px hsla(270, 30%, 80%, 0.5) inset
            width: 288px
            height: 30px
            line-height: 30px
            font-size 22px
            border-radius 0px
            border 1px solid silver
            border-width 1px 0px
            transition 200ms
            color: hsl(270, 50, 30)
            // for the margin-start stuff, see below
            // padding-start 14px
            // margin-start -1px
            &.first
                margin-top: 0px - 5px
            &.second
                margin-top: 30px - 5px
            .icon.lock
                font-size 12px
                color hsla(270, 30, 30, 0.8)
                // margin-start 240px

        .jins
            height: 30px
            .arrow_space
                width: 50px
            .label
                width 100px
            .lock
                width 55px
                // outline 1px solid blue
                .lock_shadow
                    opacity: 0.4
                    color hsla(270, 30, 30, 0.8)
                    font-size 12px
                    line-height: 8px;
                    height: 8px
                    width: 10px
                    text-align: center
                    margin-right: 7px
                    border-radius: 12px
                    border: 1px solid silver
                    padding 4px

// margin-start doesn't update properly when language is switched ..
// so we have to resort to using this instead
.lang_rtl
    .pointer
        padding-right 14px
        margin-right -1px
        .icon.lock
            margin-right 240px
.lang_ltr
    .pointer
        padding-left 14px
        margin-left -1px
        .icon.lock
            margin-left 240px

.rtl
    text-align right
    direction rtl

.ltr
    text-align left
    direction ltr

// mqam name
.maqam_name
    color hsl(243, 16, 30)
    text-align center
    padding-bottom: 10px
    font-size 1.4em
    font-weight normal
    line-height 36px
div.app.lang_rtl div.maqam_name
    font-family 'Amiri'
    text-shadow 0 1px 1px black
div.app.lang_ltr div.maqam_name
    font-family Tahoma

