@import 'nib'
@import 'nib/gradients'
@import 'global'

#maqam_section
  text-align right
  direction rtl

maqam-button(bghue=230)
  -reset()
  cursor pointer
  // box-shadow 0px 0px 11px 2px hsl(bghue, 1, 96) inset
  border solid 1px hsl(bghue, 20, 85)
  // background-color white
  display inline-block
  text-align center
  direction rtl
  // font-family 'Droid Arabic Naskh', 'Droid Serif', serif
  font-size 1.1em
  text-shadow 1px 1px 2px hsl(150, 40, 60)
  background: linear-gradient(top, 20% white, 280% hsl(0,0,92))
  border-radius 5px
  &:hover
  &.hover
    background: linear-gradient(top, white, 180% hsl(0,0,92))
  &:active
  &.active
    // background-color hsl(190, 20, 80)
    background: linear-gradient(top, hsl(0,0,88), hsl(0,0,98))
    text-shadow 1px 1px 2px hsl(150, 40, 90)


aqua-button(bghue=230)
  -reset()
  outer_border(lite=0)
    outer_shadow_color = hsl(((bghue+20) % 360), 3, 40+lite)
    // box-shadow 0px 0px 1px 1px outer_shadow_color
    border 1px solid (outer_shadow_color * 1.6)
  cursor pointer
  box-shadow 0px 0px 1px 1px hsl(bghue, 1, 90) inset
  outer_border()
  display inline-block
  border-radius 5px
  padding 5px 10px
  font-size 0.9em
  text-shadow 0px 0px 1px hsl(150, 30, 86)
  color hsl(300,20,20)
  grad(lite=89, to=1.1)
    g1 = hsl(bghue,30,lite)
    g2 = hsl(bghue,20,lite*0.96)
    g3 = hsl(bghue,20,lite*to)
    background linear-gradient(top, g1 60%, g2 50%, g3)
  grad()
  &:hover
  &.hover
    outer_border(-14)
    grad(92, 1.5)
  &:active
  &.active
    grad(85)
    outer_border(-8)


.btn
    maqam-button()
    margin: 2px;
    widget-font()
    min-width: 20px;
    padding: 4px 8px;
    text-shadow: none
    user-select: none
    *
        user-select: none

.btn.flat
    background none
    background-color hsl(0, 0, 98)
    text-shadow none
    &:active
    &.active
        background-color hsl(0, 0, 90)
        text-shadow none

.btn.basenote
    height: 20px
    direction: ltr
    vertical-align middle
    line-height: 20px

.btn-group
    direction ltr
    display inline-block
    .btn
        border-radius: 0px
        margin: 0px;
        border-left-width: 0px;
    .btn:first-child
        border-top-left-radius: 5px
        border-bottom-left-radius: 5px
        border-left-width: 1px;
    .btn:last-child
        border-top-right-radius: 5px
        border-bottom-right-radius: 5px

// a stacking of button groups
.btn-stack
    .btn-group
        .btn
            border-radius 0px
            border-bottom-width: 0px
            border-radius 0px
    .btn-group:first-child
        .btn:first-child
            border-top-left-radius: 5px
        .btn:last-child
            border-top-right-radius: 5px
    .btn-group:last-child
        .btn
            border-bottom-width: 1px
        .btn:first-child
            border-bottom-left-radius: 5px
        .btn:last-child
            border-bottom-right-radius: 5px

.section.maqamPresets
    text-align center
    .btn-group
        margin-top 10px
        margin-left 10px
        .btn.maqamPreset
            font-family 'Droid Arabic Naskh', 'Droid Serif', serif
            line-height 20px
            &.maqamName
                width: 80px;
                font-weight bold
                .icon
                    line-height 20px
                    height 12px
            &.maqamBase
                width: 20px;


.controls > .panel
    display block
    width 300px
    padding 10px 0px
    background-color hsl(0, 0, 99)
    border 1px solid hsl(0, 0, 90)
    border-radius 5px
    margin-bottom: 10px
    .section
        border-bottom 1px solid hsl(0, 0, 90)
        &:first-child
            margin-top 2px
        &:last-child
            border-bottom none

        &.pad
            padding: 14px 20px 2px

        .label
            width 80px
            display inline-block
            vertical-align middle
        .def
            min-width 80px
            display inline-block
            vertical-align middle

        &.header
            text-align center
            h3
                font-family: amiri, helvetica
                font-size: 18px
                font-weight: bold
                margin-bottom: 4px

.maqam_info
    .section.ajnas
        height 100px
        padding-top 0px
        margin-top: 4px // to accomedate the pointer's 4px up shift
        font-family 'Droid Arabic Kufi', 'Droid Sans', sans-serif;
        line-height 18px

        .pointer_shadow
            opacity: 0.2
            font-size 22px
            padding-right 14px
            color: hsl(270, 50, 30)
            margin-right: -1px;
            padding-top: -1px;

        .pointer
            pointer-events: none; // let mouse clicks fall through
            position: absolute
            background-color hsla(270, 60, 80, 0.1)
            box-shadow 0px 0px 5px 0px hsla(270, 30%, 80%, 0.5) inset
            width: 288px
            height: 30px
            line-height: 30px
            font-size 22px
            border-radius 0px
            border 1px solid silver
            border-width 1px 0px
            transition: 200ms
            padding-right 14px
            color: hsl(270, 50, 30)
            margin-right: -1px;
            &.first
                margin-top: 0px - 5px
            &.second
                margin-top: 30px - 5px
            .icon.lock
                font-size 12px
                color hsla(270, 30, 30, 0.8)
                margin-right 240px

        .jins
            height: 30px
            .arrow_space
                width: 50px
            .label
                width 100px
            .lock
                width 55px
                // outline 1px solid blue
                .lock_shadow
                    opacity: 0.4
                    color hsla(270, 30, 30, 0.8)
                    font-size 12px
                    line-height: 8px;
                    height: 8px
                    width: 10px
                    text-align: center
                    margin-right: 7px
                    border-radius: 12px
                    border: 1px solid silver
                    padding 4px


.rtl
    text-align right
    direction rtl

.ltr
    text-align left
    direction ltr

.maqam_name
    font normal 1.5em 'Droid Arabic Naskh', 'Droid Serif', serif;
    text-shadow 0 1px 1px black
    color hsl(243, 16, 30)
    direction rtl
    text-align center

